.users {
  display: flex;
  width: 85%;
  margin: 0 auto;
  justify-content: space-around;

  
  &__current {
    &__user { 
      &__container {
        width: 30%;

        & > div {
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-height: 300px;
        }

        &__picture {
          & img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
          }
        }

        &__info {
          text-align: center;

          &  h3 {
            margin-bottom: 10px;
          }
          & p {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__container {
    background-color: #ffffff;
    width: 65%;
    padding: 20px 0;

    &__user {
      display: flex;
      margin-bottom: 20px;
      position: relative;
      transition: .3s;

      &:hover {
        transition: .3s;
        transform: scale(1.05);
      }

      &:last-of-type {
        border: 0;
      }

      &::after {
        content: '';
        width: 92px;
        height: 2px;
        background: #fff;
        position: absolute;
        bottom: -1px;
        left: 0;
      }

      &__picture {
        & img {
          height: 72px;
          width: 72px;
          border-radius: 50%;
          margin-right: 20px;
        }
      }

      &__info {
        display: flex;
        width: 80%;

        &__content {    
          width: 70%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          
          & h4 {
            margin: 0;
          }
          & p{
            margin-top: 7px;
            color: #676767;
            font-size: 14px;
          }
        }

        
        &__action {
          width: 25%;
          display: flex;
          align-items: center;
          justify-content: center;

          & button {
            background-color: transparent;
            color: #0073b1;
            border: 1px solid #0073b1;
            height: 32px;
            width: 92px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 4px;
            transition: .5s;
            cursor: pointer;

            &:hover {
              transition: .5s;
              background-color: #0073b1;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.chatbox-container {
  position: absolute;
  bottom: 0;
  height: 400px;
  right: 5%;
  width: 300px;
}