.sidebar {
  position: fixed;
  left: 0%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 60px;
  background-color: #777;
  transition: .35s;
  z-index: 9;

  &.active {
    width: 150px;
    transition: .35s;
  }

  &__wrapper {
    height: 100%;

    &__rooms {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 30px;
      padding: 20px 0px;
      transition: .3s;
  
      & span {
        padding: 10px 5px;
        cursor: pointer;
      }

      &.active {
        height: 150px;
      }
  
      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 0;
        opacity: 0;
        transition: .3s;
        user-select: none;

        &__item {
          padding: 5px;
          color: #fff;
        }
  
        &.active {
          height: auto;
          opacity: 1;
          transition: .3s;
          user-select: text;
        }
      }
    }

    &__members {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 30px;
      padding: 20px 0px;
      transition: .3s;
  
      & span {
        padding: 10px 5px;
        cursor: pointer;
        z-index: 2;
      }

      &.active {
        height: 150px;
      }
  
      &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 0;
        opacity: 0;
        transition: .3s;
        user-select: none;

        &__item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          padding: 5px;
          color: #fff;

          &.online {
            display: flex;
            height: 3px;
            width: 3px;
            border-radius: 50%;
            background-color: #17F88C;
          }

          &.busy {
            display: flex;
            height: 3px;
            width: 3px;
            border-radius: 50%;
            background-color: #222;
          }

          &.notOnline {
            display: flex;
            height: 3px;
            width: 3px;
            border-radius: 50%;
            background-color: #FC404B;
          }
        }
  
        &.active {
          height: auto;
          opacity: 1;
          transition: .3s;
          user-select: text;
        }
      }
    }
  }
}