.App {
  height: 100vh;
  background-color: #f5f5f5;
}

.navbar {
  display: flex;
  align-items: center;
  height: 52px;
  background-color: #283E4A;
  margin-bottom: 50px;

  &__list {
    display: flex;
    margin: 0 auto;

    &__item {
      color: #ffffff;
      list-style-type: none;

      &__link {
        color: #ffffff;
        text-decoration: none;
        margin-right: 20px
      }
    }
  }
}
